<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Created By GOWRISHANKARVV -->
      <!--github : https://github.com/Gowrishankarvv-->
      <!--website: https://gowrishankarvv.ml/ -->
     <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="content">
         <div class="text">
            Sign up
         </div>
         <form action="/signup" method="post" autocomplete="asdfas">
            <div class="field">
               <input type="text" required name="contact" >
               <span class="fas fa-user"></span>
               <label>Email or Phone</label>
            </div>
            <div class="field">
               <input type="password" required name="password">
               <span class="fas fa-lock"></span>
               <label>Password</label>
            </div>
            <div class="forgot-pass">
               <a href="/forget"  target="_blank">Forgot Password?</a>
            </div>
            <button>Sign up</button>
            <div class="sign-up">
               Already have an account?
               <a href="/signin" target="_blank"> signin now</a>
            </div>
         </form>
         <div class="text">
         <footer>
            <p>IGORAZA<br>
          </footer>
         </div>
      </div>
     
   </body>
</html>
 <!-- Created By GOWRISHANKARVV -->
      <!--github : https://github.com/Gowrishankarvv-->
      <!--website: https://gowrishankarvv.ml/ -->